[submodule "externals/SVProgressHUD"]
	path = externals/SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
[submodule "externals/NSDate-TimeAgo"]
	path = externals/NSDate-TimeAgo
	url = https://github.com/kevinlawler/NSDate-TimeAgo.git
[submodule "externals/AFNetworking"]
	path = externals/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "externals/giflib-ios"]
	path = externals/giflib-ios
	url = https://github.com/dpedley/giflib-ios.git
[submodule "externals/ShareKit"]
	path = externals/ShareKit
	url = https://github.com/ShareKit/ShareKit.git
[submodule "externals/MagicalRecord"]
	path = externals/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "externals/MMDrawerController"]
	path = externals/MMDrawerController
	url = https://github.com/mutualmobile/MMDrawerController.git
[submodule "externals/Reachability"]
	path = externals/Reachability
	url = https://github.com/tonymillion/Reachability.git
